<body>
<p>The IRC client program moepII.</p>
<p>moepII is a simple Java IRC client program. It uses IRClib for the netcode.</p>
<p>You can get more information about moepII and IRClib at <a href="http://moepii.sourceforge.net" target="_blank">http://moepii.sourceforge.net</a>.</p>
@version 0.65
@author Christoph Schwering &lt;ch@schwering.org&gt;
</body>
